.grid-layout {
  display: grid;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
}

/* Navbar Section */

.grid-layout .navbar {
  background-color: #306BAC;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
}

.navbar p {
  font-size: 4rem;
  font-weight: bold;
}

.navbar .button-div {
  display: flex;
  justify-content: end;
}

.navbar button {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 10px 15px;
  background-color: #306BAC;
  border: 2px solid red;
  color: red;
  border-radius: 4px;
  transition: background-color 0.15s, color 0.15s, opacity 0.15s;
}

.navbar button:hover {
  background-color: red;
  color: white;
}

.navbar button:active {
  opacity: 0.8;
}

.add-book-form {
  display: none;
  text-align: center;
  grid-column: 1/3;
}

legend {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  background-color: #918EF4;
  padding: 10px;
  border-radius: 10px;
  overflow: auto;
}

label {
  display: block;
  font-size: 1.8rem;
}

input {
  padding: 5px 15px;
  margin: 0px 10px;
  border-radius: 10px;
  border: none;
  font-size: 1.6rem;
  background-color: #98B9F2;
}

input:focus {
  outline-style: none;
}

form .submit-button {
  font-size: 1.4rem;
  margin-top: 10px;
  padding: 10px 40px;
}

/* Content Section */

.grid-layout .content-space {
  display: grid;
  background-color: #98B9F2;
  padding: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 250px;
  gap: 32px;
}

.book {
  background-color: #918EF4;
  border-radius: 10px;
  padding: 20px 10px 20px 30px;
  overflow: auto;
}

.book .title span {
  font-size: 2.4rem;
}

.book .title {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-decoration: underline;
}

.book .author span, .pages span, .finished span {
  font-size: 1.8rem;
}

.book .author, .pages, .finished {
  font-size: 1.6rem;
  margin-bottom: 5px;
}